# WEEK 9

Merge is dealt here

In [9]:
import pandas as pd
dict1={
    "city":["mumbai","chennai","america"],
    "windspeed":["23","22","22"]
}
dict2={
    "city":["mumbai","chennai","africa"],
    "weather":["23","22","33"],
}

dataframe1=pd.DataFrame(dict1)
dataframe2=pd.DataFrame(dict2)

c=pd.merge(dataframe1,dataframe2,on='city')
c

      city windspeed weather
0   mumbai        23      23
1  chennai        22      22

Notice that this is a inner join , it leaves america and afrrica

## How do you want do differnt type of joints

In [15]:
c=pd.merge(dataframe1,dataframe2,on='city',how='outer')
c

      city windspeed weather
0   africa       NaN      33
1  america        22     NaN
2  chennai        22      22
3   mumbai        23      23

In [16]:
c=pd.merge(dataframe1,dataframe2,on='city',how='left')
c

      city windspeed weather
0   mumbai        23      23
1  chennai        22      22
2  america        22     NaN