# WEEK 5

Handling missing data by following methods
1.fillna
2.dropna
3.interpolate

In [3]:
import pandas as pd 
df=pd.read_csv('weather_data.csv')

## How to find the type of the data in the cell?

In [4]:
type(df.day[0])

str

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
type(pd)

module

In [9]:
type(df.day)

pandas.core.series.Series

In [11]:
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [12]:
type(df.event[0])

str

In [14]:
type(df.temperature[0])

numpy.float64

In [15]:
type(df.windspeed[0])

numpy.float64

## How do you convert the day column into dates , i.e it should not be strings

In [16]:
df=pd.read_csv('weather_data.csv',parse_dates=['day'])

In [17]:
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [18]:
type(df.day[0])

pandas._libs.tslibs.timestamps.Timestamp

### what is inplace=True ? remeber that you used last weeks?

This is used while working with set_index, the reason is that when you want to modify the original dataframe, you need to use this .

In [70]:
df=pd.read_csv('weather_data.csv',parse_dates=['day'])
type(df.day[0])
df.set_index('day',inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [71]:
type(df.event)

pandas.core.series.Series

## How do you replace values at NaN ?

In [72]:
new_df=df.fillna(0)
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          0.0        9.0   Sunny
2017-01-05         28.0        0.0    Snow
2017-01-06          0.0        7.0       0
2017-01-07         32.0        0.0    Rain
2017-01-08          0.0        0.0   Sunny
2017-01-09          0.0        0.0       0
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [73]:
type(df.event[0])

/var/folders/k2/4ym6nvq14tl_bnrkhhxz2gk40000gn/T/ipykernel_48690/3252994200.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(df.event[0])

str

## Use fillna but values are different based on the columns

In [74]:
new_df1=df.fillna({
    'windspeed':'No',
    'event':'Normal',
    'temperature':'Zero'
})
new_df1

           temperature windspeed   event
day
2017-01-01        32.0       6.0    Rain
2017-01-04        Zero       9.0   Sunny
2017-01-05        28.0        No    Snow
2017-01-06        Zero       7.0  Normal
2017-01-07        32.0        No    Rain
2017-01-08        Zero        No   Sunny
2017-01-09        Zero        No  Normal
2017-01-10        34.0       8.0  Cloudy
2017-01-11        40.0      12.0   Sunny

Using dictiories we can achieve this using fillna function


## Instead of temperature zero , you need to utilise the temperature of the previous day, not replace with zero.

for these type of special needs, there are some inbuilt fucntions for fillna , you can refere to pandas documentation "pandas fillna methods "

In [75]:

new_df2['temperature']=df['temperature'].fillna(method="ffill")
new_df2=df.fillna({
    'windspeed':'No',
    'event':'Normal',
})
new_df2

/var/folders/k2/4ym6nvq14tl_bnrkhhxz2gk40000gn/T/ipykernel_48690/2062463785.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df2['temperature']=df['temperature'].fillna(method="ffill")

            temperature windspeed   event
day
2017-01-01         32.0       6.0    Rain
2017-01-04          NaN       9.0   Sunny
2017-01-05         28.0        No    Snow
2017-01-06          NaN       7.0  Normal
2017-01-07         32.0        No    Rain
2017-01-08          NaN        No   Sunny
2017-01-09          NaN        No  Normal
2017-01-10         34.0       8.0  Cloudy
2017-01-11         40.0      12.0   Sunny

See there is a nuance theat you need to keep in mind, how you update one column fillna method and the others using dictionaries

## Similarly when you need to carry forward only to certain extent , how do you do it?

Thats where you have limit comes into picture

In [76]:
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [77]:
new=df.fillna(method='ffill')
new

/var/folders/k2/4ym6nvq14tl_bnrkhhxz2gk40000gn/T/ipykernel_48690/2696580121.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new=df.fillna(method='ffill')

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         32.0        9.0   Sunny
2017-01-05         28.0        9.0    Snow
2017-01-06         28.0        7.0    Snow
2017-01-07         32.0        7.0    Rain
2017-01-08         32.0        7.0   Sunny
2017-01-09         32.0        7.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [78]:
new=df.windspeed.fillna(method='ffill')
new

/var/folders/k2/4ym6nvq14tl_bnrkhhxz2gk40000gn/T/ipykernel_48690/292570439.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new=df.windspeed.fillna(method='ffill')

day
2017-01-01     6.0
2017-01-04     9.0
2017-01-05     9.0
2017-01-06     7.0
2017-01-07     7.0
2017-01-08     7.0
2017-01-09     7.0
2017-01-10     8.0
2017-01-11    12.0
Name: windspeed, dtype: float64

In [79]:
new=df.windspeed.fillna(method='ffill',limit=1)
new

/var/folders/k2/4ym6nvq14tl_bnrkhhxz2gk40000gn/T/ipykernel_48690/2183197921.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new=df.windspeed.fillna(method='ffill',limit=1)

day
2017-01-01     6.0
2017-01-04     9.0
2017-01-05     9.0
2017-01-06     7.0
2017-01-07     7.0
2017-01-08     NaN
2017-01-09     NaN
2017-01-10     8.0
2017-01-11    12.0
Name: windspeed, dtype: float64

## How do you better guess the value that is missing based on the other datas in the column

In [ ]:
df.columns

Index(['temperature', 'windspeed', 'event'], dtype='object')

In [105]:
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [104]:
df3=df.interpolate()
df3

/var/folders/k2/4ym6nvq14tl_bnrkhhxz2gk40000gn/T/ipykernel_48690/3268796784.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df3=df.interpolate()

         day  temperature  windspeed   event
0 2017-01-01    32.000000       6.00    Rain
1 2017-01-04    30.000000       9.00   Sunny
2 2017-01-05    28.000000       8.00    Snow
3 2017-01-06    30.000000       7.00     NaN
4 2017-01-07    32.000000       7.25    Rain
5 2017-01-08    32.666667       7.50   Sunny
6 2017-01-09    33.333333       7.75     NaN
7 2017-01-10    34.000000       8.00  Cloudy
8 2017-01-11    40.000000      12.00   Sunny

Different type of intermpolation can be done refere documentation

## What if i want to remove all the rows that dont have any values ?

these cases dropna comes handy, it gives you after filetering all the rows that have all the values

this can also act as to check how many rows have all the datas

In [95]:
 df=pd.read_csv('weather_data.csv',parse_dates=['day'])
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [97]:
n1=df.dropna()
n1

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [103]:
n1=df.dropna(thresh=3)
n1

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
4 2017-01-07         32.0        NaN    Rain
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

Interpolation can be made by time, not just by the by average

## how do you go about filling missing dates ?

This gives me idea about to fill all the dates, and subtract with the non working days, to get to know what are the days we are involved, and not involved

In [106]:
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [110]:
df.set_index('day', inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [113]:
df.reset_index()
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [114]:
df.set_index('day',inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny