# Week 3

Different ways of creating Dataframes 
using CSV, Excel, python dictionary, list of tuples, list of dictionaries

In [37]:
import pandas as pd

## From CSV

In [38]:
df=pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## From EXCEL

In [39]:
df=pd.read_excel('weather_data.xlsx','Sheet1')
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow


## From Dictionaries

In [40]:
weather_data = {
    'day':['2017-01-01'	,'2017-01-02'	,'2017-01-03'],	
    'temperature':['32','35','28'],
    'windspeed':['6','7','2'],
    'event':['Rain','Sunny','"snow"'],
    
}
# keys enclosed and : value enclosed and seperated by comma and square brackets

In [41]:
df=pd.DataFrame(weather_data)
df

          day temperature windspeed   event
0  2017-01-01          32         6    Rain
1  2017-01-02          35         7   Sunny
2  2017-01-03          28         2  "snow"

## From Tuples

In [42]:
weather_data_tuples = [
    ('2017-01-01',32,6,'Rain'),
    ('2017-01-02',35,28,'Snow'),
    ('2017-01-03',28,2,'Sunny')
]

In [43]:
df=pd.DataFrame(weather_data_tuples,columns=['Day','Temp','Wind','Event'])
df

          Day  Temp  Wind  Event
0  2017-01-01    32     6   Rain
1  2017-01-02    35    28   Snow
2  2017-01-03    28     2  Sunny

#### Understand the difference bettween the decalration fo tuples and dictionaries

Tuples -> [()],Ordered, Immutable ( elements cannot be manipulated), Indexed, allows duplicates 
Dictionaries -> {:}, Unordered, Mutable ( can be deleted, manupilated),Key-Based

## From Dictioneries type II

In [46]:
weather_data_dict2=[
    {'day':'23','day':'monday'},
    {'event':'45','event':'tuesday'},
    {'event':'wednesday','day':'34'}
]

In [47]:
df=pd.DataFrame(weather_data_dict2)
df

      day      event
0  monday        NaN
1     NaN    tuesday
2      34  wednesday

## There are different other IO 

pandas IO , takes you to the documentation