# WEEK 15

Importance of memory optimisation

pythonspeed.com

https://pythonspeed.com/datascience/#performance

dropna

datatype change int 32 to int8

In [1]:
import pandas as pd
df=pd.read_csv('weather.csv')
df

         day  chicago  chennai  berlin
0     Monday       32       75      41
1    Tuesday       30       77      43
2  Wednesday       28       75      45
3   Thursday       22       82      38
4     Friday       30       83      30
5   Saturday       20       81      45
6     Sunday       25       77      47

In [2]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   day      7 non-null      object
 1   chicago  7 non-null      int64
 2   chennai  7 non-null      int64
 3   berlin   7 non-null      int64
dtypes: int64(3), object(1)
memory usage: 693.0 bytes

In [7]:
df.memory_usage(deep=True)

Index      132
day        393
chicago     56
chennai     56
berlin      56
dtype: int64

usecols is a parameter in read_csv function

In [8]:
df1=pd.read_csv('weather.csv',usecols=['day','chicago'])
df1

         day  chicago
0     Monday       32
1    Tuesday       30
2  Wednesday       28
3   Thursday       22
4     Friday       30
5   Saturday       20
6     Sunday       25

In [10]:
df1.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   day      7 non-null      object
 1   chicago  7 non-null      int64
dtypes: int64(1), object(1)
memory usage: 581.0 bytes

In [23]:
df2=pd.read_csv('weather.csv',usecols=['day','chicago'],
                   dtype={'chicago':'int64'},
                   memory_map=True  )

df2.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   day      7 non-null      object
 1   chicago  7 non-null      int64
dtypes: int64(1), object(1)
memory usage: 581.0 bytes