# WEEK 1 NUMPY BASICS

In [ ]:
import pandas as pd

In [6]:
a=5
b=6
x=a+b

In [7]:
x

11

In [8]:
df=pd.read_csv("nyc_weather.csv")

We can read csv from external file or use dictionary and make that as pd.

Shape means dimension rows and columns

In [10]:
df.shape

(31, 11)

We can assign shape to rows and column

In [12]:
rows,column =df.shape
rows

31

How to print only first few rows and last few rows ?

In [19]:
#df.head()

df.tail()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
26,1/27/16,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/16,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/16,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/16,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/16,46,28,52,29.90,10,5.0,0,0,NaN,241

How to print only particular rows ?
Say you wanted to print row number 2 to 5

In [20]:
df[2:5]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,1/3/16,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/16,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/16,20,-3,41,30.57,10,5.0,0,0,NaN,333